/* Structure */

section {
    margin: auto 1em 3em;
}

.poison, .beans, .page {
    padding: 2em 0;
    border-top: 4px dotted #DEBA9D;
} 

.poison {
    margin-top: 2em;
}

.page {
    padding-bottom: 0;
}

/* Typography */

h3 {
    font-size: 32px;
    margin: 0.7em 0 0;
}

p {
    margin: 0.6em 2em;
}

figcaption {
    text-align: center;
    margin: 0.3em;
    font-size: 14px;
}

/* Images */

figure {
    margin: auto;
}

embed {
    margin: 0 auto;
}
