html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* Utilities */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/* Structure / Positioning */

/* 
    Color Pallate:
        #F5E8C7 - Background
        #4a2d3a - Text
        #eee5d0 - Link Hover
        #DEBA9D - Secondary color
        #F68989 - Body Link color
        #a4576d - Body Link Active
*/

/* 
font-family: 'Libre Caslon Display', serif;
font-family: 'Libre Caslon Text', serif; 
*/

body {
    background-color: #F5E8C7;
    margin: 0;
}

.topbar,
footer {
    background-color: #DEBA9D;
    width: 100%;
    padding: 1em 0 0;
}

.about,
.magazine,
.poster,
.projects {
    width: 90%;
    margin: 1em auto;
    padding-bottom: 0.5em;
    border-bottom: 4px dotted #DEBA9D;
}

.about {
    margin: 2em auto 1em;
}

nav {
    display: flex;
    margin-top: 1em;
}

p {
    margin-top: 0.3em;
}

/* Typography */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Libre Caslon Display', serif;
    color: #4a2d3a;
    line-height: 1.3em;
    font-variant: small-caps;
    text-align: center;
}

p,
a,
li,
figcaption {
    font-family: 'Libre Caslon Text', serif;
    color: #4a2d3a;
    line-height: 1.3em;
    text-decoration: none;
}

h1 {
    margin: 0;
    font-size: 64px;
    line-height: 0.9em;
    text-decoration: underline;
}

h2 {
    margin: 0.7em 0 0;
    font-size: 48px;
}

nav li {
    font-size: 20px;
    list-style: none;
    font-variant: small-caps;
    padding: 0.2em;
    margin: 0 auto 1em;
}

nav span {
    font-size: 30px;
    font-family: 'Libre Caslon Display', serif;
    color: #4a2d3a;
}

footer p {
    margin: 0;
    padding-bottom: 1em;
    text-align: center;
}

/* Images */

img {
    width: 100%;
    margin: 0 auto;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
}

/* Links */

section a,
section a:visited {
    text-decoration: underline;
    color: #b86767;
}

a:visited {
    color: #4a2d3a;
}

a:hover,
a:active {
    color: #eee5d0;
}

/* Media Queries */

/* Tablets */

@media (min-width: 750px) {

    /* Positioning */
    .topbar,
    footer {
        padding: 4em 0 2em;
    }

    nav {
        width: 60%;
        margin: 1.5em auto 0;
    }

    section {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .about, .poster {
        margin: 2em 1em 2em auto; 
        border-bottom: none;
    }

    .magazine, .projects {
        margin: 2em auto 2em 1em; 
        border-bottom: none;
    }

    /* Typography */

    nav li {
        font-size: 32px;
    }

    nav span {
        font-size: 48px;
    }

    h1 {
        font-size: 72px;
    }

}

/* Desktops / Laptops */

@media (min-width: 1200px) {

    /* Positioning */

    .topbar,
    footer {
        padding: 3em 0 2em;
    }

    section {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin: 2em;
    }

    .about, .magazine, .poster {
         border-right: 4px dotted #DEBA9D;
         padding-right: 2em;

    }

    .projects img {
        width: 90%;
    }

    /* Typography */

    h1 {
        font-size:106px;
    }

    nav li {
        font-size: 48px;
    }

    nav span {
        font-size: 64px;
    }

}