section {
    display: block;
    margin: auto 10%;
}

h2 {
    font-size: 48px;
}

p {
    text-indent: 20px;
}

figcaption a {
    float: none;
}

figure {
    margin: auto;
}

figcaption {
    text-align: center;
    margin: 10px;
    font-size: 18px;
}

.gallery {
    display: grid;
    grid-template-columns: auto auto auto;
}