body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(180, 180, 180);
    position: absolute;
}

h1 {
    text-align: center;
    font-size: 110px;
    margin: 0;
    padding-top: 20px;
}

nav {
    width: fit-content;
    margin: auto;
    padding-bottom: 20px;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 48px;
    text-align: center;
}

nav a:hover {
    color: red;
    transition: .2s ;
}

nav span {
    font-size: 48px;
}

li {
    display: inline-block;
}

.topbar {
    background-color: gray;
    width: 100%;
    margin: 0;
}

section {
    background-color:rgb(180, 180, 180);
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 40px;
    margin: auto 0;
}

.about {
    border-right: 4px solid gray;
    padding-right:20px;
}

.magazine {
    border-right: 4px solid gray;
    padding: 0 20px; 
}

.poster {
    border-right: 4px solid gray;
    padding: 0 20px;
}

.projects {
    padding: 0 0 0 20px;
}

section a {
    float: right;
}

h2 {
    text-align: center;
    font-size: 36px;
}

p {
    font-size: 20px;
    text-align: justify;
}

img {
    width: 40%;
    display: block;
    margin: 0 auto;
}

footer {
    background-color: gray;
    width: 100%;
    margin: auto 0 0;
    padding: 20px 0; 
}

.bottombar {
    margin: auto;
    width: fit-content;
    padding: 0;
}

.bottombar a {
    font-size: 32px;
}

.bottombar span {
    font-size: 32px;
}

footer p {
    font-size: 20px;
    text-align: center;
    margin: 0;
}